body {
  background-color: rgb(209, 192, 93);  
  font-family: cursive;

  max-width: 2000px;
}

.navbar {
  background-color: rgb(70, 62, 17);
  border-radius: 2px;
  max-width: 10000px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 20px;
  padding: 4px;
  text-decoration: none;
  margin-left: 8%;
}

.navbar a:hover {
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin-left: 8%;
  margin-right: 8%;
  }

p {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-left: 8%;
  margin-right: 8%;
}

img {
  display: block;
  max-width: 84%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-bottom: 30px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color:  rgb(70, 62, 17);
  color: #aaa;
  margin: 0px;
  font-size: 20px;
}

a{
  color: #aaa;
}

table {
  border-collapse: collapse;
  margin-left: 42%;
  margin-right: 42%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(70, 62, 17);
}

tr:hover {
  background-color:rgb(52, 168, 52);
}

